@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
}

.ng-invalid.ng-touched.ng-dirty {
	border: 1px solid red;
}

.copyright {
	background-color: lightgray;
	padding: 10px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.valid {
	border-bottom: solid green;
}

.invalid {
	border-bottom: solid red;
}

.active {
	color: firebrick;
}

.app-bg-pattern-dotted {
	background-repeat: repeat;
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAKklEQVQoU2NkIBIwEqmOgWyFDQwMDCCMAbCZiFUxLqsxFJPtRpyBQH0TAaqHAwtRB8lvAAAAAElFTkSuQmCC)
		repeat;
}

input.ng-touched {
	border: 3px solid lightblue;
}

input.ng-dirty.ng-valid {
	border: 2px solid green;
}

input.ng-dirty.ng-invalid {
	border: 2px solid red;
}
