<form [formGroup]="productForm" (ngSubmit)="createProduct()">
	<div>
		<label for="name">Name</label>
		<input type="text" id="name" formControlName="name" required="" />
	</div>
	<div>
		<label for="price">Price</label>
		<input type="number" id="price" formControlName="price" required="" />
	</div>
	<div>
		<button type="submit">Create</button>
	</div>
</form>
<Form formGroupName="info">
	<h2>Product information</h2>
	<div>
		<label for="category">Category</label>
		<input type="text" id="category" formControlName="category" />
	</div>
	<div>
		<label for="descr">Description</label>
		<input type="text" id="description" />
	</div>
	<div>
		<label for="photo">Photo URL</label>
		<input type="photo" id="photo" formControlName="image" />
	</div>
</Form>
