<form [formGroup]="productForm" (ngSubmit)="createProduct()">
	<div>
		<label for="name">Name</label>
		<input type="text" id="name" formControlName="name" required />
		<span *ngIf="name.touched && name.invalid">The name is not valid</span>
	</div>
	<div>
		<label for="price">Price</label>
		<input type="number" id="price" formControlName="price" required />
		<span *ngIf="price.touched && price.hasError('required')"
			>The price is required</span
		>
		<span *ngIf="price.touched && price.hasError('outOfRange')">
			The price is out of range</span
		>
		<span *ngIf="showPriceRangeHint"> Price should be between 1 and 10000</span>
	</div>
	<div>
		<button type="submit" [disabled]="!productForm.valid">Create</button>
	</div>
</form>
<form formGroupName="info">
	<h2>Product information</h2>
	<div>
		<label for="category">Category</label>
		<input type="text" id="category" formControlName="category" />
	</div>
	<div>
		<label for="descr">Description</label>
		<input type="text" id="desc" formControlName="description" />
	</div>
	<div>
		<label for="photo">Photo URL</label>
		<input type="text" id="photo" formControlName="image" />
	</div>
</form>
