<h1>Hello From Customer</h1>
<hr />

<div [hidden]="isAddNew">
	<h1>Customer List</h1>
	<input type="button" value="Add New" (click)="AddNew()" />
	<table border="1">
		<tr>
			<th>FName</th>
			<th>LName</th>
		</tr>
		<tr *ngFor="let item of Customers">
			<td>{{ item.FName }}</td>
			<td>{{ item.LName }}</td>
		</tr>
	</table>
</div>

<div [hidden]="!isAddNew">
	<h1>Add New Customer</h1>
	Fist Name: <input type="text" name="FName" /> <br />
	Last Name: <input type="text" name="LName" /> <br /><br />
	<input type="button" value="Save" (click)="save()" /> &nbsp;
	<input type="button" value="Cancel" (click)="CancelSubmit()" />
</div>
