<ul>
	<li *ngFor="let product of products | sort">
		<a [routerLink]="['/product', product.id]">
			{{ product.name }}
		</a>
	</li>
</ul>
<app-product-create (added)="onAdd($event)"> </app-product-create>

<!-- The product list does not need to keep the selected product in its local state because we are navigating away from the list upon selecting a product. -->

<!-- <h2>Product List</h2>
<ul>
	<li
		*ngFor="let product of products | sort"
		(click)="selectedProduct = product"
	>
		{{ product.name }}
	</li>
</ul>
<app-product-detail
	*ngIf="selectedProduct; else noProduct"
	[id]="selectedProduct.id"
	(deleted)="onDelete()"
	(bought)="onBuy()"
>
</app-product-detail>
<ng-template #noProduct>
	<p>No product selected!</p>
</ng-template>
<h2>Favorites</h2>

<app-product-create (added)="onAdd($event)"></app-product-create> -->
